<!-- extends is for inheriting from the base.html -->
{% extends 'weatherApp/base.html' %}
{% block content %}
<!--<div class="bg-light" id="services">-->
<!--            <div class="container px-2">-->
<!--                <div class="row justify-content-center">-->
<!--                    <div class="col">-->
<!--                        <h2>Services we offer</h2>-->
<!--                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--</div>-->
<div class="container" style="margin-top:40px">
    <div class="row">
        <form method="post" class="col ">
          {% csrf_token %}
          <div class="input-group">
              <input class="form-control" type="text" name="city" placeholder="Search" style="width:420px; height:35px;">
              <button class="button is-info" type="button">
                    Add City
              </button>

          </div>
        </form>
        <div class="col " style="margin-top:20px">
                <div class="box">
                    <span class="card-text" style="float:right;">{{ city_weather_update.time }}</span>
                    <article class="media">

                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ city_weather_update.icon }}.png" alt="Image">
                            </figure>
                        </div>

                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title">{{ city_weather_update.city }} {{ city_weather_update.country_code }}</span>
                                    <br>
                                    <span class="subtitle">{{ city_weather_update.temperature }}</span>
                                    <br> {{ city_weather_update.description | title }}
                                    <br> {{ city_weather_update.wind }}
                                    <br> {{ city_weather_update.humidity }}
<!--                                    <br> {{ city_weather_update.precipitation }}-->
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

            <div id="openweathermap-widget-15"></div>
            <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 15,cityid("{{city_weather_update.city}}") ,appid: '4c1262c471ca84404de85d2fd0bc73ff',units: 'metric',containerid: 'openweathermap-widget-15',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>
<!--            <div id="openweathermap-widget-15"></div>-->
<!--            <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 15,cityid: '670474',appid: '4c1262c471ca84404de85d2fd0bc73ff',units: 'metric',containerid: 'openweathermap-widget-15',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>-->

<!--            <div id="openweathermap-widget-15" class="container-widget container-widget&#45;&#45;15"><div id="container-openweathermap-widget-15"><link href="//openweathermap.org/themes/openweathermap/assets/vendor/owm/css/openweathermap-widget-right.min.css" rel="stylesheet"><div class="widget-right weather-right&#45;&#45;type1 widget-right&#45;&#45;brown">-->
<!--                    <div class="widget-right__header widget-right__header&#45;&#45;brown">-->
<!--                      <div class="widget-right__layout">-->
<!--                        <div>-->
<!--                          <h2 class="widget-right__title">{{ city_weather_update.city }}, RO</h2>-->
<!--                          <p class="widget-right__description">overcast clouds</p>-->
<!--                        </div>-->
<!--                      </div><img src="//openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/04d.png" width="128" height="128" alt="Weather in Ploieşti, RO" class="weather-right__icon weather-right__icon&#45;&#45;type1">-->
<!--                    </div>-->
<!--                    <div class="weather-right weather-right&#45;&#45;brown">-->
<!--                      <div class="weather-right__layout">-->
<!--                        <div class="weather-right__temperature">0<span>°C</span></div>-->
<!--                        <div class="weather-right__weather">-->
<!--                          <div class="weather-right-card">-->
<!--                            <table class="weather-right__table">-->
<!--                              <tbody><tr class="weather-right__items">-->
<!--                                <th colspan="2" class="weather-right__item">Details</th>-->
<!--                              </tr>-->
<!--                              <tr class="weather-right__items">-->
<!--                                <td class="weather-right__item">Feels like</td>-->
<!--                                <td class="weather-right__item weather-right__feels">0<span>°C</span></td>-->
<!--                              </tr>-->
<!--                              <tr class="weather-right__items">-->
<!--                                <td class="weather-right__item">Wind</td>-->
<!--                                <td class="weather-right__item weather-right__wind-speed">1.1 m/s </td>-->
<!--                              </tr>-->
<!--                              <tr class="weather-right-card__items">-->
<!--                                <td class="weather-right__item">Humidity</td>-->
<!--                                <td class="weather-right__item weather-right__humidity">86%</td>-->
<!--                              </tr>-->
<!--                              <tr class="weather-right-card__items">-->
<!--                                <td class="weather-right__item">Precip</td>-->
<!--                                <td class="weather-right__item"></td>-->
<!--                              </tr>-->
<!--                              <tr class="weather-right-card__items">-->
<!--                                <td class="weather-right__item">Pressure</td>-->
<!--                                <td class="weather-right__item weather-right__pressure">1017 hPa</td>-->
<!--                              </tr>-->
<!--                            </tbody></table>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="widget-right__footer widget-right__footer&#45;&#45;brown">-->
<!--                      <div class="widget-right__layout"><a href="//openweathermap.org/" target="_blank"><div class="widget-right__logo_black_small"></div></a>-->
<!--                        <div class="widget-right__date">{{ city_weather_update.time }}</div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--            </div>-->


<!--            <div id="openweathermap-widget-15-1"></div>-->
<!--            <script>-->
<!--                const myWidgetParams = [-->
<!--                  {-->
<!--                    id: 15,-->
<!--                    cityid: '2643743',-->
<!--                    appid: '4c1262c471ca84404de85d2fd0bc73ff',-->
<!--                    units: 'metric',-->
<!--                    containerid: 'openweathermap-widget-15-1',-->
<!--                  },-->
<!--                ];-->

<!--                const script = document.createElement('script');-->
<!--                script.async = true;-->
<!--                script.src = '//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js';-->
<!--                document.body.appendChild(script);-->
<!--            </script>-->
<!--            </div>-->
<!--            </div>-->
    </div>
</div>


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>OpenWeatherMap Weather Widget</title>-->
<!--</head>-->


<!--  <script>-->
<!--    const myWidgetParams = [-->
<!--      {-->
<!--        id: 15,-->
<!--        cityid: '2643743',-->
<!--        appid: '4c1262c471ca84404de85d2fd0bc73ff',-->
<!--        units: 'metric',-->
<!--        containerid: 'openweathermap-widget-15-1',-->
<!--      },-->
<!--    ];-->

<!--    const script = document.createElement('script');-->
<!--    script.async = true;-->
<!--    script.src = '//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js';-->
<!--    document.body.appendChild(script);-->
<!--  </script>-->
<!--<body>-->
<!--  <div id="openweathermap-widget-15-1"></div>-->
<!--</body>-->
<!--</html>-->


{% endblock %}