<!-- extends is for inheriting from the base.html -->
{% extends 'weatherApp/base.html' %}
{% block content %}
<!--<div class="bg-light" id="services">-->
<!--            <div class="container px-2">-->
<!--                <div class="row justify-content-center">-->
<!--                    <div class="col">-->
<!--                        <h2>Services we offer</h2>-->
<!--                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--</div>-->
<div class="container" style="margin-top:40px">
    <div class="row">

        <br>
        <form method="post" class="col-sm ">
          {% csrf_token %}
          <div class="row">
              <div class="col-sm-4">
                 <input type="text" class="form-control" name="city" placeholder="Search">
              </div>
              <div class="col" >
                 <button class="button is-info " style="height:34px; width:170;" >

                    Add City
                 </button>
              </div>
          </div>
        </form>

        <br>

        <div class="col " style="margin-top:20px">

                <div class="box">
                    <span class="card-text" style="float:right;">{{ city_weather_update.time }}</span>
                    <article class="media">

                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ city_weather_update.icon }}.png" alt="Image">
                            </figure>
                        </div>

                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title">{{ city_weather_update.city }} {{ city_weather_update.country_code }}</span>
                                    <br>
                                    <span >{{ city_weather_update.temperature }}</span>
                                    <br >{{ city_weather_update.feels_like }}
                                    <br> {{ city_weather_update.description | title }}
                                    <br> {{ city_weather_update.wind }}
                                    <br> {{ city_weather_update.humidity }}

                                    <br> {{ city_weather_update.pressure }}

                                    <br> {{ city_weather_update.precipitation }}

                                </p>
                            </div>
                        </div>
                    </article>
            </div>
        </div>
    </div>
</div>


{% endblock %}